<app-navbar></app-navbar>
<!--<p>Danh sach product</p>-->
<router-outlet></router-outlet>
<!--<a routerLink="create">Create product</a>-->
<!--<form [formGroup]="productForm" (ngSubmit)="searchByName()">-->
<!--  <input type="text" formControlName='name'>-->
<!--  <button>Tìm theo tên</button>-->
<!--</form>-->

<!--<form [formGroup]="productForm" (ngSubmit)="searchByCategoryId()">-->
<!--  <select formControlName = "categoryId">-->
<!--    <option *ngFor="let c of listCategory" [value]="c.id">-->
<!--      {{c.name}}-->
<!--    </option>-->
<!--  </select>-->
<!--  <button>Tìm theo category</button>-->
<!--</form>-->

<!--<table border="1px">-->
<!--  <tr>-->
<!--    <td>STT</td>-->
<!--    <td>Name </td>-->
<!--    <td>Price</td>-->
<!--    <td>Category</td>-->
<!--  </tr>-->
<!--  <tr *ngFor="let pro of listProduct ; index as i" >-->
<!--    <td>{{i+1}}</td>-->
<!--    <td>{{pro.name}}</td>-->
<!--    <td>{{pro.price}}</td>-->
<!--    <td>{{pro.category.name}}</td>-->
<!--    <td><a [routerLink]="['edit',pro.id]">Edit</a></td>-->
<!--    <td><a [routerLink]="['delete',pro.id]">Delete</a></td>-->
<!--  </tr>-->
<!--</table>-->

