<p>create-product-be works!</p>

<!--<form [formGroup]="form" (submit)="add()" >-->

<!--  <p>Name</p>-->
<!--  <input type="text" formControlName="name" class="form-control"><br>-->
<!--  <p>Price</p>-->
<!--  <input type="number" formControlName="price" class="form-control"><br>-->
<!--  <p>Category</p>-->
<!--  <select formControlName="category" >-->
<!--    <option *ngFor="let c of listCategory" [value]="c.id">{{c.name}}</option>-->
<!--  </select>-->
<!--  <button>Create</button>-->
<!--</form>-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="add()" >
          <p>Name</p>
          <input type="text" formControlName="name" class="form-control"><br>
          <p>Price</p>
          <input type="number" formControlName="price" class="form-control"><br>
          <p>Category</p>
          <select formControlName="category" >
            <option *ngFor="let c of listCategory" [value]="c.id">{{c.name}}</option>
          </select>
          <p>Image</p>
          <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off"/>
          <img src="{{fb}}" style="width: 100%">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Save </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


